/* Basic Style */
body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header__img-matrix {
  width: 100%;
}

.header__detailed-inf {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {
  .header {
    text-align: center;
  }
}

.main-content {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.todo {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.add-todo__add-todo-input-wrapper {
  display: flex;
}

ul {
  margin: 0;
  padding: 0px;
}

h3 {
  list-style: none;
}

.base-item__base-btn,
.base-btn {
  outline: none;
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.base-item__base-btn,
.base-btn {
  color: #3a3a3a;
}

/* Heading */
.add-todo__heading-add-todo {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.base-item__input-todo {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.base-item__input-todo:focus {
  color: #333;
}

/* Task list */
.base-item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

li > * {
  vertical-align: middle;
}

.checbox-item {
  margin: 0 10px;
}

.base-item__label-item {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.base-item__input-todo {
  width: 226px;
}

.base-item__delete-plan {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.base-item__delete-plan img:hover {
  transform: rotateZ(0);
}

.base-item__input-todo {
  display: block;
  margin: 0 0 20px;
}

.input-add-todo {
  width: 318px;
}

/* Completed */
.completed-todo-list .base-item .base-item__label-item {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.base-item_input-none {
  display: none;
}

.base-item__input-edit {
  display: inline-block;
  width: 224px;
}

.incomlete-todo__edit-mode {
  display: none;
}
